@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --scrollbar-size: 12px;
    --scrollbar-thumb-radius: 16px;

    --background: #fafafa;
    --sidebar-width: 240px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
}
::-webkit-scrollbar-track {
    background: var(--background);
}
::-webkit-scrollbar-thumb {
    border-radius: var(--scrollbar-thumb-radius);
    @apply bg-gray-600/80;
}
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
}

body,
#root {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--background);
}

#root {
    display: flex;
    flex-grow: 1;
}

@layer components {
    .sidebar,
    .navbar {
        @apply fixed top-0 flex bg-white transition-all duration-300 ease-out;
    }

    .sidebar {
        @apply left-0 z-[3200] h-full w-0 flex-[0_0_auto] flex-col overflow-hidden overflow-y-auto border-r;
    }

    .sidebar--open ~ .sidebar {
        @apply w-[var(--sidebar-width)];
    }

    .sidebar__header {
        @apply flex h-16 flex-shrink-0 items-center justify-start px-4 py-2 text-base;
    }

    .sidebar__list {
        @apply flex flex-shrink-0 flex-col py-2;
    }

    .sidebar__list-item {
        @apply w-full;
    }

    .sidebar__link {
        @apply inline-block w-full px-4 py-2 text-left text-base transition-all duration-200 ease-out hover:bg-gray-100;
    }

    .sidebar__link.active {
        @apply bg-gray-100;
    }

    .sidebar__link.dropdown__toggle {
        @apply flex items-center ring-0 focus:ring-transparent;
    }

    .sidebar__link.dropdown__link {
        @apply pl-6;
    }

    .navbar {
        @apply left-auto right-0 z-[3000] h-16 w-full flex-shrink-0 items-center border-b px-4 py-2 text-base;
    }

    .sidebar--open {
        @apply ml-[240px] w-[calc(100%_-_240px)];
    }

    .main {
        @apply ml-0 flex-shrink-0 flex-grow p-4 transition-all duration-300 ease-in-out;
    }

    .sidebar--open ~ .main {
        @apply ml-[var(--sidebar-width)];
    }
}
